:root {
  --primary-color: #DF172E;
  --primary-text: #303030;
  --secondary-text: #181818;
  --grey-text: #707070;
  --testimonials-grey: #7A839E;
  --white: #fff;
  --light-grey: #F4F5FA;
  --very-light-grtey: #F3F3F3;
  --black: #000;
  --shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%);
  --big-shadow: 0px 30px 30px #00000029;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: var(--white);
  color: var(--primary-text);
}


/* General tags and classes */
img, svg {
  /* vertical-align: middle; */
}

img {
  display: block;
  height: auto;
  width: 100%;
}

button {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-text);
}

p:last-of-type {
  margin-bottom: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3 {
  line-height: 1.2;
  font-weight: 900;
  /* color: var(--secondary-text); */
}

.title {
  text-transform: uppercase;
}

.main-title {
  font-size: 25px;
}

.section-title {
  font-size: 30px;
}

.card-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

.text-center {
  text-align: center;
}

input, select, textarea {
  font-size: 16px;
  padding: 1em;
  color:var(--grey-text);
  border: 1px solid var(--grey-text);
  border-radius: 15px;
  width: 100%;
}

input::placeholder {
  color: #A8A8A8;
}

.form-group {
  margin-bottom: 1rem;
}



.container {
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col--100 {
  flex: 0 0 100%;
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-grid {
  display: grid;
}


.icon {
  font-size: 30px;
  color: var(--primary-color);
}


.icon--framed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: var(--black) solid 5px;
  color: var(--black);
  border-radius: 20px;
}
.icon--framed:hover {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: var(--white);
}
.icon--framed svg {
  height: 50%;
}
.icon--framed+h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 1.5em 0;
  color: var(--secondary-text);
}



.btn,
.close-btn {
  cursor: pointer;
}

.btn {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 1.1em 1.6em;
  background: var(--primary-color);
  color: var(--white);
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px;
}

.btn:hover {
  background: var(--secondary-text);
  transform: scale(.9);
}

.btn-outline {
  border-radius: 5px;
  border: 1px solid var(--black);
  background: transparent;
  color: var(--black);
}

.btn-outline.primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline:hover, 
.btn-outline.primary:hover {
  border-color: var(--primary-color);
  color: var(--white);
  background: var(--primary-color);
} 

.btn-wide {
  width: 210px;
  text-align: center;
}

.btn-more {
  padding: 1.1em 4em;
}

.card-btn {
  font-size: 13px;
  padding: 1.1em 4em;
}

.close-btn {
  width: 25px;
  height: 25px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.8);
}

.close-btn svg {
  position: relative;
  /* top: -2px; */
  left: -1px;
}

.btn-wrapper {
  margin: 2rem 0;
}



.menu,
.submenu,
.contact-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item,
.menu-link {
  display: block;
}

.menu-link {
  line-height: 1em;
}

.card {
  background: var(--white);
  border-radius: 15px;
  box-shadow: var(--shadow);
}




/* Transitions */
.header,
.btn,
.icon--framed,
.services-item .overlay,
.faq-arrow, .faq-title {
  transition: .3s;
}



/* Header */
.header {
  width: 100%;
  padding: 10px;
  background: transparent;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

.header.sticky {
  background: var(--white);
  box-shadow: var(--shadow);
}

.header .container {
  padding: 0;
}

.header-left {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hamburger-menu {
  display: block;
  margin-left: 20px;
}

.menu-trigger {
  cursor: pointer;
  padding: 0 10px;
}

.main-menu-nav {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 999;
  background: var(--very-light-grtey);
  padding: 45px 25px 25px;
  opacity: 0;
  transition: 1.2s ease;
}

.main-menu {
  position: relative;
  z-index: 2;
}

.main-menu-nav .close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.main-menu .menu-link {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  transition: color .3s;
}

.main-menu .menu-link:hover,
.main-menu .menu-link.active {
  color: var(--primary-color);
}

.has-dropdown {
  position: relative;
}

.has-dropdown > a {
  position: relative;
}

.has-dropdown > a::after {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: var(--primary-text) transparent transparent;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.has-dropdown > a.open {
  color: var(--primary-color);
}

.has-dropdown > a.open::after {
  border-color: transparent transparent var(--primary-color);  
  border-width: 0 5px 5px;
}

.submenu {
  /* opacity: 0;
  visibility: hidden; */
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}

.submenu .menu-link {
  padding-left: 8px;
}

.submenu.active {
  max-height: 100vh;
  /* opacity: 1;
  visibility: visible; */
}
/* Menu open */
.menu-open .main-menu-nav {
  top: 0;
  opacity: 1;
}

.menu-bg-img {
  position: absolute;
  z-index: 1;
}

.menu-bg-img#blob-1 {
  width: 80%;
  top: 30%;
  left: 0;
}

.menu-bg-img#blob-2 {
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
  right: -40%;
}




.header-right {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 130px;
}






/* Hero */
.hero {
  position: relative;
}

.bg-container {
  width: 100%;
  /* max-width: 1300px; */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: -2;
  padding: 0;
}

.hero-bg {
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.hero-bg-img,
.hero-img-wrapper {
  position: absolute;
}

.hero-bg-img#hero-img-1 {
  width: 55%;
  top: 100px;
  right: 1%;
}

.hero-img-wrapper {
  width: 85%;
  top: 120px;
  left: 12%;
}

.hero-bg-img#hero-img-2 {
  width: 100%;
  top: 0;
  left: 0;
}
.hero-bg-img#hero-img-3 {
  width: 95%;
  top: 2.7vw;
  left: 2.1vw;
}

.hero-bg-img#hero-img-4 {
  width: 55%;
  top: 210vw;
  left: -15%;
}

.hero-bg-img#hero-img-5 {
  display: none;
}

.hero-container {
  position: relative;
  z-index: 2;
  padding-top: 100vw;
}

.hero-content {
  position: relative;
  background: var(--light-grey);
  box-shadow: var(--shadow);
  padding: 20px;
  border-radius: 20px;
}

.hero-content::after {
  content: '';
  display: block;
  width: 30px;
  height: 50px;
  background: url(./assets/triangle2.png) 0/contain no-repeat;
  position: absolute;
  z-index: 2;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-title--big {
  font-size: 30px;
  /* line-height: 1; */
  margin: 0 0 20px;
}

.hero-cta-wrapper {
  margin-top: 50px;
  text-align: center;
}

.hero-cta-btn {
  font-size: 16px;
  padding: 1.25em 2em;
  border-radius: 20px;
}

.hero-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.arrow-img {
  width: 30px;
}

.main-heading {
  text-align: center;
}



/* Methodology section */
.methodology {
  margin: 50px 0;
}

.methodology-card {
  padding: 20px;
  color: var(--secondary-text);
}

.methodology-card {
  margin-bottom: 2rem;
}

.methodology-card .icon--framed svg {
  height: 70%;
  max-width: 70%;
}

.methodology-card .icon--framed:hover {
  border-color: var(--black);
  background: transparent;
  color: var(--black);
}

.methodology-card p {
  margin: 0 0 2em;
}



/* Features section */
.features {
  overflow: hidden;
  position: relative;
  padding-bottom: 133vw;
}

.features-icons {
  justify-content: space-between;
  padding: 10px 0 0;
}

.features-icons .framed-icon-wrapper {
  width: 33%;
}

.features-icons .framed-icon-wrapper .icon--framed {
  width: 100px;
  height: 100px;
  border-width: 4px;
  margin: 0 auto;
}

.features p {
  color: var(--secondary-text);
  margin: 0 0 30px;
}

.alert {
  display: inline-flex;
  margin: 20px 0;
  animation: breathe-in 2s;
  animation-iteration-count: infinite;
}

.alert-icon {
  width: 20px;
}

.alert span {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text);
  margin-left: 10px;
}

.features-bg {
  position: absolute;
  z-index: -1;
  bottom: -25vw;
}

.features-bg-img {
  width: 200%;
  position: relative;
  left: -25%;
}



/* Services section */
.services-section {
  position: relative;
  /* padding-top: 1px; */
}

.services-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -25vw;
  overflow-x: hidden;
}

.services-bg-img {
  position: relative;
}

.services-bg-img#img-1 {
  width: 180%;
  left: -40%;
  /* transform: translateX(-50%); */
}

.services-bg-img#img-2 {
  width: 140%;
  z-index: -1;
  top: -65vw;
  left: 40%;
}

.services-section .title {
  margin-top: 0;
}


.services {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.services-item {
  border-radius: 10px;
  overflow: hidden;
}

.services-item a {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services-img {
  height: 100%;
}

.services-item .overlay {
  opacity: 0;
}

.services-item:hover .overlay {
  opacity: 1;
}

.services-item .overlay,
.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-bg {
  background: var(--primary-color);
  opacity: .65;
}

.services-title {
  color: var(--white);
  position: relative;
  z-index: 2;
  font-size: 18px;
}



/* Analysis section */
.analysis {
  padding: 130vw 0 60vw;
  position: relative;
}
.analysis-bg {
  /* overflow-x: hidden; */
  /* position: absolute; */
  top: 5vw;
  width: 100%;
  /* height: 150vw; */
  z-index: -1;
}

.analysis-bg-img {
  position: absolute;
}

.analysis-bg-img#img-1 {
  width: 60%;
  top: 0;
  right: 0;
  z-index: -1;
}

.analysis-bg-img#img-2 {
  top: 10vw;
  width: 94%;
  left: 3%;
}

.analysis-bg-img#img-3 {
  width: 40%;
  top: 50vw;
  left: -10%;
  z-index: -1;
}

.analysis-bg-img#img-4 {
  width: 15%;
  top: 110vw;
  left: 30%;
  z-index: 2;
}

.analysis-bg-img#img-5 {
  width: 45%;
  top: 90vw;
  right: -20%;
  z-index: -1;
}

.analysis-bg--bottom {
  position: absolute;
  z-index: -1;
  bottom: 65vw;
  width: 100%;
  /* height: 100vw; */
}

.analysis-bg-img#img-6 {
  width: 120%;
  top: -15vw;
  right: -30%;
  z-index: 2;
}

.analysis-bg-img#img-7 {
  width: 30px;
  top: 15vw;
  right: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.analysis-bg-img#img-8 {
  width: 15%;
  top: 15vw;
  right: 30%;
  z-index: 2;
}

.analysis .content {
  color: var(--grey-text);
}

.checklist {
  list-style: none;
  padding-left: 35px;
}

.checklist-item {
  position: relative;
  margin: 10px 0;
}

.checklist-item::before {
  content: '';
  width: 22px;
  height: 19px;
  display: block;
  background: url(./assets/check.svg) 0/contain no-repeat;
  position: absolute;
  left: -35px;
}




/* Testimonials */
.testimonials {
  position: relative;
}

.testimonials-wrapper {
  position: relative;
  margin: 0 -10px;
}

.quotes {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.quote {
  font-size: 60px;
  color: var(--primary-color);
  position: absolute;
  top: 5px;
  left: 30px;
  display: inline-block;
}

.quote-bottom {
  top: initial;
  left: initial;
  right: 30px;
  bottom: 5px;
  transform: scale(-1,-1);
}

.testimonials-slider {
  padding: 50px 0;
}

.testimonials-card {
  /* height: 335px; */
  padding: 30px 20px;
  align-items: center;
  text-align: center;
  margin: 0 20px;
}

.testimonials-img {
  width: 90px;
  margin-bottom: 15px;
}

.star {
  width: 16px;
  margin-right: 7px;
}

.star:last-of-type {
  margin-right: 0;
}

.testimonials-content {
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--testimonials-grey);
}

.person .name {
  font-weight: 600;
  color: var(--black);
}

.testimonials-bg-img {
  width: 30vw;
  position: relative;
  top: 380px;
  left: -25vw;
}



/* Pricing */
.pricing {
  padding-top: 30vw;
  position: relative;
}

.pricing-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.pricing-bg-img {
  position: relative;
  left: 50vw;
}

.pricing-slider-wrapper {
  padding: 0;
  position: relative;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--white);
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right:5px;
}

.pricing-slider {
  padding: 35px 0;
}

.pricing-card-wrapper {
  display: flex;
  align-items: center;
  height: 770px;
  margin: 0 25px;
}

.pricing-card {
  width: 100%;
  max-width: 364px;
  margin: 0 auto;
  border: 2px solid #CCCCCC;
  padding: 0 40px;
  color: var(--black);
}

.bestseller {
  border: 3px solid var(--primary-color);
  position: relative;
}

.ribbon {
  /* content: ''; */
  display: block;
  width: 110%;
  height: 22vw;
  background: url(./assets/ribbon.png) 0/contain no-repeat;
  position: absolute;
  top: -14vw;
  left: -5%;
  display: flex;
  align-items: center;
}

.ribbon-title {
  margin: 0;
  position: relative;
  top: -6%;
  left: 0;
  width: 100%;
  color: var(--white);
  font-size: 40px;
  font-weight: 900;
}

.bestseller .card-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.bestseller .card-btn:hover {
  color: var(--white);
}

.pricing-card p {
  text-align: center;
}

.price-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.price {
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  display: inline-block;
  position: relative;
  margin-right: .1em;
}

.price span {
  position: absolute;
  top: .3em;
  right: -2em;
}

#free .price {
  font-size: 48px;  
}

.price-wrapper span {
  font-size: 20px;
  font-weight: 900;
  margin-right: .5em;
}

.price-right {
  font-size: 24px;
  font-weight: 300;
}

.benefits-title {
  font-weight: 700;
  font-size: 18px;
  margin: 30px 0 0 ;
}

.benefits-list .checklist-item::before {
  background-image: url(./assets/checked.svg);
}

.minimum-term {
  margin-bottom: 0;
  font-size: 14px;
}



/* banner */
.banner {
  height: 379px;
  background: url(./assets/Hansefit_hero.jpg) 50% 50%/cover no-repeat;
  position: relative;
  margin: 50px 0 0;
}

.banner .bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.banner .content {
  text-align: center;
  position: relative;
  z-index: 2;
  height: 100%;
  padding-top: 50px;
}

.banner .container {
  width: 100%;
  max-width: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}

.partner-logo {
  width: 30vw;
}

.banner-title {
  color: var(--white);
  font-size: 30px;
  margin: 0;
  margin-bottom: -1rem;
  letter-spacing: 1px;
}



/* Staff section */
.staff {
  padding: 50px 0;
}

.staff-slider {
  padding: 50px 0;
}

.staff-card {
  margin: 0 25px;
  overflow: hidden;
  border-radius: 15px 15px 5px 5px;
  position: relative;
  transition: all .1s ease;
}

.staff-card.active {
  transform: translateY(-30px);
  box-shadow: 0px 0px 25px rgb(0 0 0 / 20%);
  transition: all .3s ease .5s;
}

.staff-card .name {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 25px;
  background: var(--primary-color);
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  line-height: 3;
}

.staff-slider-controls {
  display: flex;
  justify-content: center;
}

.staff-slider-controls .prev-btn,
.staff-slider-controls .next-btn {
  position: relative;
  top: initial;
  left: initial;
  right: initial;
}

.staff-slider-controls .next-btn {
  margin-left: 50px;
}




/* Fortune wheel section */
.fortune-wheel {
  position: relative;
  padding-bottom: 80vw;
  /* overflow: hidden; */
  /* margin-bottom: 100px; */
  
}

.fortune-wheel p {
  font-size: 20px;
}

p.wheel-terms {
  font-size: 14px;
}

.wheel-right {
  margin-top: -50px;
  position: relative;
}

.wheel-img {
  display: block;
  width: 90%;
  position: absolute;
  z-index: 2;
  bottom: -50vw;
  left: 5%;
  animation: rotate360 8s linear infinite;
}

.fortune-wheel-bg {
  /* overflow-x: hidden; */
  width: 100%;
  /* height: 150vw; */
  position: absolute;
  top: 120vw;
  z-index: 0;
  /* overflow-y: visible; */
  /* overflow: hidden; */
}


.fortune-wheel-bg-img#img-1 {
  position: relative;
  width: 150%;
  left: -25%;
  top: 30vw;
}
.fortune-wheel-bg-img#img-2 {
  position: absolute;
  width: 60%;
  top: 10vw;
  right: -40vw;
  z-index: -1;
}
.fortune-wheel-bg-img#img-3 {
  position: absolute;
  width: 15%;
  top: 80vw;
  right: 10%;
}



/* Blog lead section */
.blog-lead {
  position: relative;
  padding: 80vw 0 50px;
}

.blog-lead-bg {
  position: absolute;
  z-index: -10;
  top: -30vw;
}

.blog-lead-bg-img {
  width: 140%;
  position: relative;
  left: -50%;
}

.blog-lead .hero-content {
  box-shadow: 0px 30px 30px #00000029;
}



/* Contact  section*/
.contact {
  position: relative;
}

.contact .main-title {
  margin-top: 0;
}

.contact label {
  height: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.agb-check {
  display: flex;
}

.agb-check label {
  height: auto;
  position: relative;
  visibility: visible;
  opacity: 1;
  /* width: 90%; */
}

.agb-check input {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  text-align: left;
}

.contact-form .btn-wrapper {
  margin-bottom: 0;
}

.contact-bg {
  display: none;
}



/* FAQ section */
.faq-section {
  padding-top: 50px;
}

.faq {
  padding: 15px 25px;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
  min-height: 65px;
}

.faq-arrow {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
}

.faq-title {
  font-weight: 700;
  width: 90%;
  margin: 0;
}

p.hidden-text {
  max-height: 0;
  overflow: hidden;
  margin: 0;
  transition: max-height .5s linear,
  margin-top 0s linear .5s, margin-bottom .5s linear;
}

.faq.open {
  /* padding-bottom: 40px; */
}

.faq.open .faq-arrow {
  transform: scaleY(-1);
}

.faq.open .faq-title {
  color: var(--primary-color);
}

.faq.open .hidden-text {
  margin-top: 25px;
  margin-bottom: 25px;
  transition: max-height .5s linear, margin-top 0s linear, margin-bottom 0s linear;
  max-height: 400px;
}



/* Footer */
.footer {
  padding: 100px 0 80px;
  background: url(./assets/foot_back-1.png) 40%  -200px/cover no-repeat;
}

.footer .title {
  margin: 2em 0 1em;
  font-size: 20px;
}

.footer-bootom {
  font-size: 14px;
  margin-top: 50px;
}

.footer-bootom span {
  margin: 0 10px;
}

.footer-bootom p {
  margin-top: 0;
}



/* Contact-bar */
.contact-bar {
  width: 100%;
  justify-content: center;
  padding: 10px;
  background: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.15);
}

.contact-menu {
  display: flex;  
}

.contact-menu a {
  color: var(--white);
  font-size: 1.5rem;
  margin: 0 35px;
}




/* SUBPAGES */

/* Hero */
.hero-bg-img#hero-img-6 {
  width: 100%;
  right: 0;
  top: 120px;
}

.subpage .hero-bg-img#hero-img-4 {
  left: -30%;
  top: 280vw;
}

.subpage .hero-content {
  box-shadow: 0px 30px 30px #00000029;
}

.subpage-hero-title {
  font-weight: 500;
  margin: 0;
  font-size: 30px;
}

.hero-text {
  margin-top: 50px;
}


/* Goals */
.goals,
.video-section,
.banner,
.article-cta {
  margin: 100px 0;
}

.goals-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.goals-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goals-card p {
  margin-bottom: 2em;
}

.goals-card .btn-wrapper {
  margin: auto 0 0;
}


.video-section {
  background: url(./assets/ziel_shape.svg) 40vw 50%/100% no-repeat;
}

.video {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-overlay svg {
  height: 30%;
}


.banner#firmenfitness {
  background-image: url(./assets/firmenfitness_hero.jpg);
}



.article-cta {
  margin: 100px 0 50px;
  padding: 70vw 0 0;
  position: relative;
}

.article-cta-bg-img {
  position: absolute;
  top: 0;
  z-index: -1;
}


.arrow-spacer {
  display: none;
}


.goals-card.centered {
  text-align: center;
  padding: 50px 20px 30px;
}

.goals-card.centered .title {
  text-transform: initial;
  margin-top: 2em;
}

.icon--filled {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 3em;
  margin: 0 auto;
}


.article {
  margin: 100px 0;
}

.article-img {
  border-radius: 20px;
}




@keyframes breathe-in {
  0% { transform: scale(1); }
  50% { transform: scale(.9); }
  100% { transform: scale(1); }
}

@keyframes rotate360 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media(min-width: 768px) {
  /* General tags and classes */
  h3 {
    font-size: 25px;
  }

  .main-title {
    font-size: 40px;
  }

  .section-title {
    font-size: 32px;
  }

  .section-title--big {
    font-size: 60px;
    margin: 0;
  }
 
  .row {
    margin: 0 -10px;
  }

  .col_md--50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col_md--60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col_md--75 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col--100,
  .col_md--50,
  .col_md--60,
  .col_md--75 {
    padding: 0 10px;
  }


  .card {
    border-radius: 20px;
  }


  .icon--framed+h3 {
    font-size: 20px;
  }

  .btn {
    font-size: 15px;
  }


  /* Header */
  .main-menu .menu-link {
    font-size: 25px;
  }

  .has-dropdown > a::after {
    border-width: 8px 8px 0;
  }

  .has-dropdown > a.open::after {
    border-width: 0 8px 8px;
  }


  /* Hero */
  .hero-bg-img#hero-img-1 {
    width: 30%;
    top: 120px;
    right: 15%;
  }

  .hero-bg-img#hero-img-4 {
    width: 30%;
    top: 135vw;
    left: -5%;
  }

  .hero-container {
    padding-top: 75vw;
  }

  .hero-content {
    padding: 30px 40px;
    font-size: 20px;
  }

  .hero-title--big {
    font-size: 50px;
  }

  .hero-cta-btn {
    font-size: 18px;
    padding: 1.25em 2em;
    border-radius: 20px;
  }



  /* Methodology section */
  .methodology .row {
    align-items: stretch;
  }

  .methodology-card {
    height: 100%;
  }

  .methodology-card p {
    margin: 0;
  }

  .methodology-card .btn {
    margin-top: auto;
  }



  /* Features section */
  .features {
    overflow: hidden;
    position: relative;
    padding-bottom: 22vw;
    padding-top: 50px;
  }

  .features-content {
    margin-left: auto;
  }

  .features-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: initial;
    top: 290px;
  }
  
  .features-bg-img {
    width: 650px;
    position: relative;
    left: -80px;
  }



  /* Services section */
  .services-bg {
    top: -17vw;
  }

  .services-bg-img#img-1 {
    width: 120%;
    left: -10%;
  }

  .services-bg-img#img-2 {
    width: 100%;
    z-index: -1;
    top: -40vw;
    left: 40%;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }


  /* Analysis section */
  .analysis {
    padding: 50px 0;
    position: relative;
  }
  
  .analysis-bg {
    top: -40vw;
  }

  .analysis-bg-img#img-1 {
    width: 20%;
    right: initial;
    left: 17%;
  }
  
  .analysis-bg-img#img-2 {
    top: 4vw;
    width: 37%;
    left: 1%;
  }
  
  .analysis-bg-img#img-3 {
    width: 15%;
    top: 29vw;
    left: -5%;
  }
  
  .analysis-bg-img#img-4 {
    width: 5%;
    top: 43vw;
    left: 15%;
  }
  
  .analysis-bg-img#img-5 {
    width: 25%;
    top: -5vw;
    right: -5%;
  }  

  .analysis-content {
    margin-left: auto;
    position: relative;
    z-index: 10;
  }

  .analysis-bg--bottom {
    z-index: -1;
    bottom: -50vw;
    width: 100%;
    height: 60vw;
  }

  .analysis-bg-img#img-6 {
    width: 60%;
    top: 0;
    right: -20%;
    z-index: 2;
  }

  .analysis-bg-img#img-7 {
    width: 30px;
    top: 5vw;
    right: 25%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .analysis-bg-img#img-8 {
    width: 5%;
    top: 7vw;
    right: 10%;
    z-index: 2;
  }


  /* Pricing */
  .pricing {
    padding: 150px 0 50px;
    position: relative;
  }

  .pricing-bg {
    top: -20px;
    overflow: hidden;
  }

  .pricing-bg-img {
    position: absolute;
    width: 30%;
    left: initial;
    right: -10%;
  }
  
  .ribbon {
    height: 100px;
    top: -8%;
  }
  
  .ribbon-title {
    font-size: 50px;
  }


  /* Partner */
  .prartner-title {
    font-size: 40px;
  }

  .partner-logo {
    max-width: 200px;
  }


  /* Staff section */
  .staff-slider-controls .next-btn {
    margin-left: 45%;
  }


  /* Fortune wheel section */
  .fortune-wheel {
    padding-bottom: 40vw;    
  }
  .wheel-left {
    padding-top: 15vw;
  }

  .fortune-wheel .section-title--big {
    font-size: 80px;
  }

  .fortune-wheel p {
    font-size: 35px;
    margin-top: .5em;
  }

  p.wheel-terms {
    font-size: 14px;
  }  

  .wheel-right {
    margin-top: -50px;
    margin-left: -5%;
    position: relative;
  }

  .wheel-img {
    width: 90%;
    bottom: -28vw;
    left: 5vw;
    z-index: 2;
  }

  .fortune-wheel-bg {
    /* height: 120vw; */
    top: -2vw;
  }

  .fortune-wheel-bg-img#img-2 {
    width: 50%;
    top: 20vw;
    right: -33vw;
  }

  .fortune-wheel-bg-img#img-3 {
    width: 10%;
  }


  /* Blog lead section */
  .blog-lead {
    padding: 100px 0 50px;
  }
  
  .blog-lead-bg {
    top: -8vw;
  }

  .blog-lead-bg-img {
    width: 80%;
    left: -35%;
  }

  .blog-lead-content {
    margin-left: auto;
    margin-top: 10vw;
  }

  .blog-lead-content .hero-title--big {
    /* font-size: 45px; */
  }


  /* Footer */
  .footer {
    padding: 100px 10% 50px;
    background-position: 50% -150px;
  }

  .footer-bootom {
    margin-top: 50px;
  }


  /* Contact-bar */
  .contact-bar {
    width: 30px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: var(--primary-color);
    border-radius: 15px;
    position: fixed;
    bottom: initial;
    left: initial;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-shadow: 2px 8px 23px 3px rgb(0 0 0 / 20%);
  }

  .contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 200px;
    width: 50px;
    border-radius: 25px;
    position: relative;
    left: -25px;
    box-shadow: -7px 0px 10px -5px rgb(0 0 0 / 25%);
  }

  .contact-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    background: var(--white);
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 10px 0;
  }





  /* SUBPAGES */
  .hero-bg-img#hero-img-6 {
    width: 80%;
  }

  .subpage .hero-bg-img#hero-img-4 {
    left: -10%;
    top: 135vw;
  }

  .subpage .hero-container {
    padding-top: 45vw;
  }
  
  .subpage-hero-title {
    font-size: 40px;
  }

  .subpage .hero-content::after {
    transform: initial;
    left: initial;
    right: 20%;
  }

  .hero-text {
    margin-top: 30vw;
  }


  .goals-cards {
    grid-template-columns: 1fr 1fr;
  }


  .video-section {
    background-size: 80%;
    background-position: 50vw 0;
  }


  .article-cta {
    padding: 40vw 0 0;
  }

  .article-cta-bg-img {
    width: 90%;
    left: -20vw;
  }

  .article-cta .hero-content::after {
    right: initial;
    left: 20%;
  }



  .article-aside {
    padding-left: 30px;
  }

  .article-aside .title {
    margin-top: 0;
  }
  
  .article-cta.align-right .article-cta-bg-img {
    left: initial;
    right: -20%;
  }

  .article-cta.align-right .hero-content::after {
    right: 10%;
    left: initial;
  }

  .article-cta.align-right .hero-cta-wrapper {
    text-align: left;
  }
}



@media(min-width: 1024px) {
  .container {
    padding: 0 20px;
    max-width: 1140px;
    margin: 0 auto;
  }


  .col_lg--33 {
    flex: 0 0 33%;
    max-width: 33%;
  }  

  .col_lg--50 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col_lg--60 {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col_lg--33, 
  .col_lg--50, 
  .col_lg--60 {
    padding: 0 10px;
  }



  /* Header */
  .header {
    padding: 10px 20px;
  }
  
  .header .container {
    justify-content: space-between;
  }

  .header-left {
    width: auto;
    position: relative;
    order: 2;
  }

  .header-right {
    width: auto;
  }


  /* Hero */
  .hero-img-wrapper {
    width: 75%;
    max-width: 1000px;
    top: 120px;
    left: initial;
    right: -15%;
  }

  .hero-bg-img#hero-img-1 {
    width: 35%;
    max-width: 465px;
    top: 100px;
    right: -5%;
  }

  .hero-bg-img#hero-img-3 {
    top: 2.3vw;
    left: 1.8vw;
  }

  .hero-bg-img#hero-img-4 {
    width: 30%;
    max-width: 360px;
    top: 65vw;
    left: -10%;
    z-index: -1;
  }

  .hero-bg-img#hero-img-5 {
    display: block;
    width: 40%;
    top: -180px;
    left: -26%;
    z-index: -1;
  }

  .hero-container {
    position: relative;
    z-index: 2;
    padding-top: 250px;
  }

  .hero-content::after {
    z-index: 2;
    bottom: -40px;
    left: 33%;
  }

  .hero-cta-wrapper {
    padding-left: 5%;
    text-align: left;
  }

  .hero-arrow {
    justify-content: flex-start;
    margin-left: 15%;
  }


  /* Features */
  .features {
    padding-bottom: 15vw;
  }

  .features-top {
    margin-left: auto;
  }

  .features-bg {
    position: absolute;
    z-index: -1;
    bottom: initial;
    top: 6vw;
  }

  .features-bg-img {
    width: 850px;
    position: relative;
    left: -120px;
  }


  /* Testimonials */  
  .quotes {
    width: 100%;
    height: 100%;
  }

  .quote {
    left: 36%;
  }

  .quote-bottom {
    right: 37%;
  }



  /* Pricing */
  .ribbon-title {
    /* top: -2%; */
  }

 

  /* banner */

  .banner-title {
    font-size: 50px;
  }



  
  .fortune-wheel .section-title--big {
    font-size: 90px;
  }



  /* Blog lead section */
  .blog-lead {
    padding: 100px 0;
  }

  .blog-lead .hero-cta-wrapper {
    margin-left: 10%;
  }


  /* Contact Section */
  .contact {
    padding-top: 50px;
  }
  
  .contact-bg {
    overflow-x: hidden;
    width: 100%;
    height: 75vw;
    display: block;
    position: absolute;
    top: -5vw;
    z-index: -1;
  }
  
  .contact-bg-img {
    position: absolute;
  }
  
  .contact-bg-img#img-1 {
    width: 50vw;
    right: -12%;
  }
  
  .contact-bg-img#img-2 {
    width: 40vw;
    right: 3.1vw;
    top: 9.3vw;
  }
  
  .contact-bg-img#img-3 {
    width: 30vw;
    right: -15vw;
    top: 40vw;
    z-index: -2;
  }



  /* Footer */
  .footer {
    padding: 230px 10% 50px 20%;
    background-position: -10vw 0px;
  }



  


  /* SUBPAGES */
  .hero-bg-img#hero-img-6 {
    width: 65%;
    right: -5%;
  }

  .subpage .hero-bg-img#hero-img-4 {
    left: -10%;
    top: 1000px;
  }

  .subpage .hero-container {
    padding-top: 250px;
  }

  .subpage .hero-container .col_lg--50 {
    margin-left: 20%;
  }

  .hero-text {
    width: 50%;
    margin-top: 220px;
  }

  .subpage .hero-cta-wrapper {
    text-align: center;
    margin-top: 10vw;
  }

}


@media (min-width: 1280px) {
  h3 {
    font-size: 30px;
  }

  body,
  .btn,
  .alert span {
    font-size: 18px;
  }

  .btn,
  .card,
  .hero-content {
    border-radius: 20px;
  }

  .btn-wide {
    width: 310px;
  }


  .main-title {
    font-size: 50px;
  }

  .section-title {
    font-size: 40px;
  }

  .section-title--big {
    font-size: 70px;
  }


  /* Header */
  .header {
    padding: 20px 30px;
  }

  .header.sticky {
    padding: 10px 30px;
  }

  .header-left {
    display: block;
  }

  .hamburger-menu,
  .main-menu-nav .close-btn,
  .menu-bg-img {
    display: none;
  }

  .main-menu-nav {
    height: auto;
    min-height: auto;
    position: relative;
    top: initial;
    left: initial;
    opacity: 1;
    background: transparent;
    padding: 0;
    overflow: visible;
  }

  .main-menu {
    display: flex;
  }
  
  .main-menu .menu-link {
    color: var(--grey-text);
    font-size: 16px;
    font-weight: 400;
    text-transform: initial;
    padding: 1em .5em;
    margin: 0 .5em;
  }

  .has-dropdown > a::after {
    display: none;
  }

  .submenu,
  .submenu.active {
    height: auto;
  }

  .submenu {
    opacity: 0;
    visibility: hidden;
    display: block;
    max-height: initial;
    min-width: 13em;
    overflow: visible;
    position: absolute;
    z-index: 2;
    top: 3rem;
    background: #e9e9e9;
    transition: opacity .3s;
  }
  
  .has-dropdown:hover .submenu,
  .submenu:hover,
  .submenu.active {
    opacity: 1;
    visibility: visible;
  }

  .submenu .menu-link {
    display: block;
    padding: 15px 10px;
  }

  .submenu li {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .submenu li:last-of-type {
    border: 0;
  }


  /* Hero */
  .hero-bg-img#hero-img-1 {
    right: -15%;
  }

  .hero-bg-img#hero-img-3 {
    top: 26px;
    left: 21px;
  }

  .hero-bg-img#hero-img-4 {
    top: 720px;
    left: -15%;
  }

  .hero-title--big {
    font-size: 60px;
  }



  /* Methodology section */
  .methodology-card {
    padding: 20px 40px;
    max-width: 590px;
    font-size: 20px;
  }


  /* Features */
  .features {
    padding-bottom: 16vw;
    overflow: visible;
  }

  .features-icons .framed-icon-wrapper .icon--framed {
    width: 180px;
    height: 180px;
    border-width: 7px;
    margin: 0 auto;
  }
  
  .features-bg {
    top: 7vw;
  }

  .features-bg-img {
    width: 1050px;
    left: -130px;
  }



  /* Analysis section */
  .analysis {
    padding: 150px 0;
    position: relative;
  }

  
  .analysis .bg-container {
    top: 100px;
  }
  
  .analysis-bg-img#img-3 {
    top: 290px;
  }
  
  .analysis-bg-img#img-4 {
    top: 500px;
  }

  .analysis-bg--bottom {
    bottom: -40vw;
  }



  /* Testimonials */
  .testimonials-wrapper {
    margin: 0 -60px;
  }

  .testimonials-slider {
    display: flex;
    align-items: center;    
    justify-content: center;
  }
  
  .testimonials-card {
    flex: 0 0 30%;
    max-width: 30%;
  }

  .testimonials-card.active {
    padding: 50px 20px;
    height: 375px;
    margin-top: 0;
  }



  /* Pricing */
  .pricing-slider {
    display: flex;
    justify-content: center;
  }

  .pricing-card-wrapper {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0;
  }

  .pricing-card-wrapper:nth-of-type(2) {
    flex: 0 0 34%;
    max-width: 34%;
    margin: 0 3%;
  }

  .pricing-card {
    max-width: 100%;
  }

  .bestseller {
    padding: 0 60px;
  }


  .pricing-slider-wrapper .prev-btn,
  .pricing-slider-wrapper .next-btn {
    display: none;
  }

  .ribbon-title {
    font-size: 40px;
  }

  .price {
    font-size: 66px;
  }

  .price-wrapper span {
    font-size: 24px;
  }

  

  /* banner */
  .banner {
    height: 479px;
  }

  .banner-title {
    font-size: 60px;
  }

  .partner-logo {
    max-width: 300px;
  }




  /* Staff section */
  .staff-slider-controls {
    margin-top: 2rem;
  }

  .prev-btn,
  .next-btn {
    font-size: 30px;
    width: 70px;
    height: 70px;
  }

  .staff-slider-controls .next-btn {
    margin-left: 20%;
  }

  /* Fortune wheel section */
  .fortune-wheel {
    padding-bottom: 30vw;    
    overflow: visible;
  }

  .fortune-wheel .section-title--big {
    font-size: 100px;
  }

  .fortune-wheel p {
    font-size: 40px;
    margin-top: 0;
  }

  .fortune-wheel-bg {
    /* height: 120vw; */
    top: -20vw;
    /* z-index: 0; */
  }

  .wheel-img {
    width: 100%;
    bottom: -25vw;
  }


  /* Blog lead section */
  .blog-lead-bg-img {
    left: -40%;
  }


  /* FAQ */
  .faq-section .col_md--50:nth-of-type(1) {
    padding-right: 40px;
  }
  .faq-section .col_md--50:nth-of-type(2) {
    padding-left: 40px;
  }


  /* Footer */
  .footer {
    padding: 230px 10% 50px 20%;
    background-position: -10vw 0px;
  }

  



  /* SUBPAGES */
  .hero-bg-img#hero-img-6 {
    width: 50%;
  }

  .subpage .hero-bg-img#hero-img-4 {
    left: -30%;
    top: 700px;
  }

  .subpage .hero-container .col_lg--50 {
    margin-left: 25%;
  }
  
  .subpage-hero-title {
    font-size: 45px;
  }

  .subpage .hero-content::after {
    right: 10%;
  }

  .hero-text {
    margin-top: 100px;
  }

  .subpage .hero-arrow {
    margin-top: 50px;
    margin-left: -10px;
  }


  .goals-cards {
    grid-template-columns: 1fr 1fr;
  }


  .video-section {
    background-size: 80%;
    background-position: 60vw -5vw;
  }


  .article-cta {
    margin-top: 200px;
    padding: 20px 0 0;
  }

  .article-cta-bg-img {
    width: 60%;
    left: -20vw;
  }

  .article-cta .hero-content {
    width: 60%;
    margin-left: 20%;
  }

  .article-cta .hero-content::after {
    right: initial;
    left: 10%;
  }

  .subpage .hero-cta-wrapper {
    text-align: center;
    margin-top: 40px;
    position: relative;
    left: 50px;
  }


  .subpage .footer {
    margin-top: -130px;
    background-position: 0 0;
  }

  .subpage .footer .row:first-of-type {
    position: relative;
    left: 10%;
  }


  .article {
    margin: 200px 0;
  }

  .article .col_md--50:first-of-type {
    padding-right: 30px;
  }

  .article-cta.align-right {
    margin-top: 300px;
  }

  .article-cta.align-right .article-cta-bg-img {
    left: initial;
    right: -10%;
    top: -10vw;
  }

  .article-cta.align-right .hero-content {
    width: 70%;
    margin-left: 0;
  }

  .article-cta.align-right .hero-cta-wrapper {
    position: relative;
    left: 0;
    padding-left: 0;
  }


}


@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }

  .btn-more {
    padding: 1.1em 4em;
  }



  /* Header */
  .header {
    padding: 50px 10px;
  }

  .logo-img {
    width: 150px;
  }

  .main-menu .menu-link {
    font-size: 18px;
  }
  

  /* Hero */

  .hero-img-wrapper {
    right: -7%;
  }

  .hero-bg-img#hero-img-1 {
    width: 35%;
    max-width: 465px;
    top: 160px;
    /* right: 5%; */
  }

  .hero-img-wrapper {
    top: 150px;
  }

  .hero-bg-img#hero-img-3 {
    top: 32px;
    left: 25px;
  }

  .hero-bg-img#hero-img-4 {
    left: -20%;
    top: 800px;
  }


  .hero-content {
    font-size: 24px;
  }

  .hero-title--big {
    font-size: 70px;
  }

  .hero-cta-btn {
    font-size: 20px;
  }



  /* Features */
  .features {
    padding-bottom: 16vw;
  }

  .features-bg {
    top: 0;
  }

  .features-bg-img {
    top: 0;
    width: 1200px;
    left: -140px;
  }


  



  /* Testimonials */  
  .testimonials-card {
    padding: 20px 35px;
  }
  
  .testimonials-card.active {
    padding: 50px 35px;
    height: 375px;
    margin-top: 0;
  }


  .services-bg-img#img-1 {}

  /* banner */
  .banner {
    height: 610px;
  }

  .banner-title {
    font-size: 70px;
  }


  /* Staff */
  .staff {
    padding: 150px 0 100px;
  }

  .staff-slider-controls .next-btn {
    margin-left: 36%;
  }


  /* Blog lead */
  .blog-lead {
    padding-bottom: 200px;
  }
  .blog-lead-content {
    max-width: 60%;
    margin: 0 0 0 33%;
  }


  /* Footer */
  .footer {
    padding: 20vw 10% 50px 20%;
    background-position: -10vw 0;
  }




  /* SUBPAGES */
  

  .goals-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .goals-card .btn-more {
    display: block;
    padding: 1.1em 0;
    text-align: center;
  }


  .arrow-spacer {
    display: block;
  }

}


@media (min-width: 1920px) {
  .features-bg {
    top: -170px;
  }
  
  .features-bg-img {
    width: 1450px;
    position: relative;
    left: -170px;
  }


  .services-section .container {
    /* padding-top: 120px; */
  }



  /* Analysis */
  .analysis {
    padding: 300px 0;
    position: relative;
  }
  
  .analysis-bg {
    position: relative;
    top: -50px;
  }
  
  .analysis-bg-img#img-1 {
    width: 470px;
    left: 0;
  }

  .analysis-bg-img#img-2 {
    top: 60px;
    width: 650px;
    left: -200px;
  }
  
  .analysis-bg-img#img-3 {
    width: 280px;
    top: 350px;
    left: -270px;
  }
  
  .analysis-bg-img#img-4 {
    width: 80px;
    top: 740px;
    left: 20px;
  }
  
  .analysis-bg-img#img-5 {
    width: 30%;
    top: 0vw;
    right: -15vw;
  }  

  .analysis-bg--bottom {
    bottom: -30vw;
  }



  .pricing {
    padding: 200px 0 100px;
  }




  .wheel-img {
    bottom: -18vw;
  }  

  .fortune-wheel-bg {
    top: -30vw;
  }


   /* Blog lead section */
   .blog-lead-bg-img {
    width: 1100px;
    left: -55%;
    top: -5vw;
  }


  .contact,
  .faq-section {
    padding-top: 150px;
  }



  /* SUBPAGES */
  .subpage .hero-content {
    padding: 50px;
  }

  .subpage .hero-container .col_lg--50 {
    margin-left: 33%;
  }
  
  .video-section {
    background-size: 60%;
  }


  .article-cta-bg-img {
    width: 55%;
  }

  .article-cta .hero-content {
    margin-left: 0%;
  }

  .subpage .hero-cta-wrapper {
    text-align: center;
    left: -120px;
  }

}